:root {
    --white: #fff;
  --white-rgb: 255, 255, 255;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --primary: #ffce2b;
  --primary-rgb: 255, 206, 43;
  --secondary: #334ac0;
  --secondary-rgb: 51, 74, 192;
  --wp-color-lite: #008ec2;
  --wp-color-dark: #006799;
  --dark: #212327;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1367px;
  --breakpoint-wxl: 1920px;
}
  
.wp-core-ui .st-gs-info.notice.is-dismissible {
    padding: 20px; 
}
    
.notice-info.st-gs-info {
    padding: 20px; 
}

.notice-info.st-gs-info .notice-dismiss {
    top: 20px;
    right: 20px;
    text-decoration: none; 
}
    
.st-gs-notice {
    padding: 30px 98px 30px 30px;
    background: rgba(var(--primary-rgb), 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
}

.st-gs-notice * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

.st-gs-notice *::before, .st-gs-notice *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

.st-gs-notice .st-gs-logo {
    width: 80px; 
}

.st-gs-notice .st-gs-logo + .st-gs-cb {
    width: calc(100% - 80px);
    padding-left: 30px; 
}
.st-gs-notice .st-gs-cb {
    max-width: 720px; 
}

.st-gs-notice .st-gs-cb h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: var(--dark); 
}

.st-gs-notice .st-gs-cb p {
    margin: 0 0 1.5em 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
    color: #404244; 
}

.st-gs-notice .st-gs-cb p a {
    text-decoration: none;
    color: var(--wp-color-dark); 
}

.st-gs-notice .st-gs-cb p a:hover {
    text-decoration: underline;
    color: var(--wp-color-lite); 
}

.st-gs-notice .st-gs-btns a {
    box-shadow: none;
    min-height: 48px;
    min-width: 218px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    height: auto;
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    text-shadow: none; 
}

.st-gs-notice .st-gs-btns a:hover, .st-gs-notice .st-gs-btns a:active {
    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none; 
}

.st-gs-notice .st-gs-btns a.button-primary {
    border-color: var(--wp-color-dark);
    background: var(--wp-color-dark); 
}

.st-gs-notice .st-gs-btns a.button-primary:hover {
    background: none;
    color: var(--wp-color-dark); 
}

.st-gs-notice .st-gs-btns a.button-primary + .st-btn-dashboard {
    margin-left: 15px; 
}

.st-gs-notice .st-gs-btns a.st-btn-dashboard {
    border-color: var(--wp-color-dark);
    background: none;
    color: var(--wp-color-dark); 
}

.st-gs-notice .st-gs-btns a.st-btn-dashboard:hover {
    background: var(--wp-color-dark);
    color: var(--white); 
}

.st-gs-notice .st-gs-btns a.st-btn-dashboard .dashicons {
    margin-right: 5px;
}