/* Editor Block CSS */
:root .block-editor-page {
    --st-body-color: #353535;
    --st-heading-color: #121212;
    --st-black-color: #000000;
    --st-black-color-rgb: 0, 0, 0;
    --st-white-color: #ffffff;
    --st-white-color-rgb: 255, 255, 255;
    --st-primary-font: 'DM Sans', sans-serif;
    --st-primary-font-weight: 400;
    --st-primary-font-size: 20px;
    --st-primary-line-height: 1.65;
    --st-primary-textTransform: none;
    --st-secondary-font: 'Bodoni Moda', serif;
    --st-secondary-font-weight: 400;
    --st-secondary-font-size: 20px;
    --st-secondary-line-height: 1.65;
    --st-secondary-textTransform: none;
}

h1.wp-block-heading {
    font-family: var(--st-h1-font);
    font-size: var(--st-h1-fontSize);
    font-weight: var(--st-h1-fontWeight);
    text-transform: var(--st-h1-textTransform);
    line-height: 1.2;
}
 
h2.wp-block-heading {
    font-family: var(--st-h2-font);
    font-size: var(--st-h2-fontSize);
    font-weight: var(--st-h2-fontWeight);
    text-transform: var(--st-h2-textTransform);
    line-height: 1.25;
}
 
h3.wp-block-heading {
    font-family: var(--st-h3-font);
    font-size: var(--st-h3-fontSize);
    font-weight: var(--st-h3-fontWeight);
    text-transform: var(--st-h3-textTransform);
    line-height: 1.3;
}
 
h4.wp-block-heading {
    font-family: var(--st-h4-font);
    font-size: var(--st-h4-fontSize);
    font-weight: var(--st-h4-fontWeight);
    text-transform: var(--st-h4-textTransform);
    line-height: 1.33;
}
 
h5.wp-block-heading {
    font-family: var(--st-h5-font);
    font-size: var(--st-h5-fontSize);
    font-weight: var(--st-h5-fontWeight);
    text-transform: var(--st-h5-textTransform);
    line-height: 1.48;
}
 
h6.wp-block-heading {
    font-family: var(--st-h6-font);
    font-size: var(--st-h6-fontSize);
    font-weight: var(--st-h6-fontWeight);
    text-transform: var(--st-h6-textTransform);
    line-height: 1.39;
}

body.block-editor-page .editor-styles-wrapper {
	color: var(--st-body-color);
	font-family: var(--st-primary-font);
	font-size: var(--st-primary-font-size);
	line-height: var(--st-primary-line-height);
	font-weight: var(--st-primary-font-weight);
}

.block-editor-page p {
    font-size: 1em;
}

hr.wp-block-separator {
    background: none;
    box-shadow: none;
}

.wp-has-aspect-ratio .wp-block-embed__wrapper {
    position: relative;
    height: 0;
    overflow: hidden;
}

.wp-has-aspect-ratio.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
    padding-top: 56.25%;
}

.wp-has-aspect-ratio.wp-embed-aspect-4-3 .wp-block-embed__wrapper {
    padding-top: 75%;
}

.wp-has-aspect-ratio.wp-embed-aspect-3-2 .wp-block-embed__wrapper {
    padding-top: 66.67%;
}

.wp-has-aspect-ratio.wp-embed-aspect-21-9 .wp-block-embed__wrapper {
    padding-top: 42.86%;
}

.wp-has-aspect-ratio .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.block-editor-page address {
	margin: 0 0 1.5em;
}

pre.wp-block-preformatted  {
	background: rgba(var(--st-black-color-rgb), 0.08);
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	overflow: auto;
	padding: 1.6em;
}

.block-editor-page code, 
.block-editor-page kbd, 
.block-editor-page tt, 
.block-editor-page var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

.block-editor-page abbr, 
.block-editor-page acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

.block-editor-page mark, 
.block-editor-page ins {
	background: #fff9c0;
	text-decoration: none;
}

.block-editor-page big {
	font-size: 125%;
}

.block-editor-rich-text__editable a {
	color: var(--st-heading-color);
	text-decoration: none;
    cursor: pointer;
    -webkit-transition: all ease 0.35s;
	-moz-transition: all ease 0.35s;
	transition: all ease 0.35s;
}

.block-editor-rich-text__editable a:hover {
	color: var(--st-black-color);
}

.block-editor-page a:hover, a:active {
	outline: 0;
}

.wp-block {
    max-width: 860px;
}

.wp-block[data-align="wide"] {
    max-width: 100%;
    padding: 0 8%;
}

.editor-post-title .editor-post-title__input {
    flex: initial;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 2.2222222222222222222222222222222em;
    line-height: 1.33;
    font-family: var(--st-secondary-font);
    color:var(--st-body-color);
}

p.block-editor-rich-text__editable {
    color: var(--st-body-color);
	font-family: var(--st-primary-font);
	font-size: var(--st-primary-font-size);
	line-height: var(--st-primary-line-height);
	font-weight: var(--st-primary-font-weight);
}

blockquote.wp-block-quote {
    padding-left: 0;
    padding-right: 0;
}

.wp-block-quote {
    border-left: 10px solid var(--st-primary-color-rgb);
    margin: 2em 0;
    padding-left: 50px;
}

.wp-block-quote.is-style-large, 
.wp-block-quote.is-large {
    padding: 8% 0;
}

.wp-block-group .wp-block-quote {
    padding: 0 1em;
}

.wp-block-group .wp-block-quote.has-text-align-center cite {
    text-align: center;
}

.wp-block-group .wp-block-quote.has-text-align-left cite {
    text-align: left;
}

blockquote.wp-block-quote, 
q.wp-block-quote {
    margin: 1.82em 0;
    font-size: 2.2em;
    color: var(--st-heading-color);
    font-weight: 500;
    line-height: 1.25;
    padding: 1.36em 0;
    font-family: var(--st-secondary-font);
    position: relative;
}

.wp-block-quote.has-text-align-right {
    border-right: none;
}

blockquote.wp-block-quote:not([class*="has-text-align-"]), 
q.wp-block-quote:not([class*="has-text-align-"]) {
    text-align: center;
}

blockquote.wp-block-quote::before, 
q.wp-block-quote::before, 
blockquote.wp-block-quote::after, 
q.wp-block-quote::after {
   content: "";
   background: rgba(var(--st-black-color-rgb), 0.1);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   margin: 0 auto;
   width: 100%;
   max-width: 376px;
   height: 1px;
}

blockquote.wp-block-quote::after, 
q.wp-block-quote::after, 
.block-editor-block-list__layout .block-editor-block-list__block:after {
   top: auto;
   bottom: 0;
}

blockquote.wp-block-quote p, 
q.wp-block-quote p {
  margin-top: 0;
   margin-bottom: 0.5em;
}

blockquote.wp-block-quote p:last-child, 
q.wp-block-quote p:last-child {
   margin-bottom: 0;
}

blockquote.wp-block-quote p:last-child::before, 
q.wp-block-quote p:last-child::before {
    content: "";
    display: block;
    background-image: url('data:image/svg+xml; utf-8, <svg width="33" height="22" viewBox="0 0 33 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.031 8C10.897 8 14.031 11.134 14.031 15C14.031 18.866 10.897 22 7.031 22C3.165 22 0.031 18.866 0.031 15L0 14C0 6.268 6.268 0 14 0V4C11.329 4 8.818 5.04 6.929 6.929C6.565 7.293 6.234 7.68 5.934 8.086C6.291 8.03 6.658 8 7.031 8ZM25.031 8C28.897 8 32.031 11.134 32.031 15C32.031 18.866 28.897 22 25.031 22C21.165 22 18.031 18.866 18.031 15L18 14C18 6.268 24.268 0 32 0V4C29.329 4 26.818 5.04 24.929 6.929C24.565 7.293 24.234 7.68 23.934 8.086C24.292 8.03 24.658 8 25.031 8Z" fill="%23121212"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--st-white-color);
    z-index: 1;
    width: 50px;
}

blockquote.wp-block-quote .wp-block-quote__citation, 
q.wp-block-quote .wp-block-quote__citation {
   font-style: normal;
   font-family: var(--st-primary-font);
   color: rgba(var(--st-black-color-rgb), 0.6);
   font-weight: 400;
   position: relative;
   font-size: 0.64em;
   display: table;
   margin: 1.2em auto 0;
   clear: both;
   text-align: inherit;
}

blockquote.wp-block-quote .wp-block-quote__citation::before, 
q.wp-block-quote .wp-block-quote__citation::before {
   content: "";
   background: rgba(var(--st-black-color-rgb), 0.6);
   width: 20px;
   height: 1px;
   display: inline-block;
   vertical-align: 8px;
   margin-right: 10px;
}

.wp-block-pullquote {
    color: var(--st-black-color);
    font-family: var(--st-secondary-font);
    font-size: 1em;
    border-top-color: rgba(var(--st-primary-color-rgb), 0.3);
    border-bottom-color: rgba(var(--st-primary-color-rgb), 0.3);
    padding: 2em 1em;
}

.wp-block-pullquote blockquote {
    margin: 0;
}

.wp-block-pullquote blockquote p {
    font-size: 1.33em;
}

.wp-block-pullquote cite, 
.wp-block-pullquote footer, 
.wp-block-pullquote__citation {
    font-size: 0.89em;
}

.wp-block-pullquote .wp-block-pullquote__citation {
    color: rgba(var(--st-black-color-rgb), 0.5);
}
.editor-styles-wrapper ul , 
.editor-styles-wrapper ol  {
    padding-left: 3rem;
}
.editor-styles-wrapper li > ul , 
.editor-styles-wrapper li > ol  {
    padding-left: 1.5rem;
}

.editor-styles-wrapper ul.block-editor-rich-text__editable {
    margin: 0 auto;
    padding: 0;
    padding-left: 20px;
}
.editor-styles-wrapper ol.block-editor-rich-text__editable {
    margin: 0 auto;
    padding: 0;
    padding-left: 20px;
}

figcaption.block-editor-rich-text__editable {
	margin: 15px 0 0 0;
    font-size: 0.8888em;
    color: rgba(var(--st-black-color-rgb), 0.45);
    letter-spacing: 0.1px;
    line-height: 1.35;
}

figcaption.block-editor-rich-text__editable {
	text-align: center;
}

.wp-block-cover__inner-container pre {
    font-family: inherit;
}

/*============================
WIDGET DEFAULT CSS
============================*/
.block-editor-block-list__block .wp-block-archives, 
.block-editor-block-list__block.wp-block-categories, 
.block-editor-block-list__block .wp-block-latest-comments, 
.block-editor-block-list__block .wp-block-rss, 
.block-editor-block-list__block .wp-block-page-list {
    margin: 0 0 60px 0;
    padding: 0;
    list-style: none;
}

.block-editor-block-list__block.wp-block-categories ul {
    padding: 0;
}

.block-editor-block-list__block.wp-block-categories li, 
.block-editor-block-list__block .wp-block-archives li, 
.block-editor-block-list__block .wp-block-latest-comments li, 
.block-editor-block-list__block .wp-block-rss li, 
.block-editor-block-list__block .wp-block-page-list > li {
    display: block;
    font-size: 0.9em;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(var(--st-black-color-rgb), 0.8);
    margin-bottom: 15px;
}

.block-editor-block-list__block .wp-block-latest-comments li, 
.block-editor-block-list__block .site-main .entry-content ul.wp-block-latest-comments > li {
    padding-left: 0;
}

.block-editor-block-list__block.wp-block-categories li:last-child, 
.block-editor-block-list__block .wp-block-archives li:last-child,
.block-editor-block-list__block .wp-block-latest-comments li:last-child, 
.block-editor-block-list__block .wp-block-rss li:last-child, 
.block-editor-block-list__block .wp-block-page-list > li:last-child {
	margin-bottom: 0;
}

.block-editor-block-list__block .widget_nav_menu ul ul {
	margin-top: 15px;
}

.block-editor-block-list__block.wp-block-categories li a, 
.block-editor-block-list__block .wp-block-archives li a, 
.block-editor-block-list__block .wp-block-latest-comments li a, 
.block-editor-block-list__block .wp-block-rss li a, 
.block-editor-block-list__block .wp-block-page-list > li a {
    display: inline-block;
    color: var(--st-body-color);
    text-decoration: none;
}

.block-editor-block-list__block.wp-block-categories li a:hover, 
.block-editor-block-list__block .wp-block-archives li a:hover, 
.block-editor-block-list__block .wp-block-latest-comments li a:hover, 
.block-editor-block-list__block .wp-block-rss li a:hover, 
.block-editor-block-list__block .wp-block-page-list > li a:hover {
    text-decoration: underline;
    color: var(--st-black-color);
}

.block-editor-block-list__block.block-editor .wp-block-latest-comments p {
    margin-bottom: 0;
}

/*================================
WIDGET LATEST COMMENTS
================================*/
.wp-block-latest-comments .avatar, 
.wp-block-latest-comments__comment-avatar {
    width: 2em;
    height: 2em;
}

.wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
    font-weight: 700;
    line-height: 1.3;
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
    margin-left: 2.5em;
}

.wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
}

.wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
    font-size: 1em;
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
    margin-left: 0;
}

.wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt p {
    font-size: 1em;
}

/*=================================
WIDGET LATEST POSTS
==================================*/
ul.wp-block-latest-posts {
    margin: 0 0 60px 0;
    padding: 0;
    list-style: none;
    counter-reset: post-count;
}

ul.wp-block-latest-posts li {
    font-family: var(--st-primary-font);
    counter-increment: post-count;
    position: relative;
    padding-left: 0;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul.wp-block-latest-posts li:last-child {
    margin-bottom: 0;
}

ul.wp-block-latest-posts li::before {
    display: none;
}

.wp-block-latest-posts__featured-image.alignleft, 
.wp-block-latest-posts__featured-image.alignright {
    margin: 0;
    width: 72px;
    position: absolute;
    top: 0;
    left: 0;
}

.wp-block-latest-posts__featured-image.alignright {
    left: auto;
    right: 0;
}

.wp-block-latest-posts__featured-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wp-block-latest-posts__featured-image.aligncenter {
    position: relative;
    padding-top: 60%;
    height: 0;
}

.wp-block-latest-posts__featured-image.aligncenter img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignleft + a {
    padding-left: 85px;
}

ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignleft + a + div, 
ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignleft + a + time {
    padding-left: 85px;
}

ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignright + a {
    padding-right: 85px;
}

ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignright + a + div + time, 
ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignright + a + time {
    padding-right: 85px;
}

ul.wp-block-latest-posts li a {
    display: inline-block;
    font-size: 1em;
    line-height: 1.5;
    color: var(--st-heading-color);
    text-decoration: none;
}

ul.wp-block-latest-posts li > a {
    font-family: var(--st-secondary-font);
    width: 100%;
    font-weight: 700;
}

ul.wp-block-latest-posts li a:hover {
    color: var(--st-black-color);
}

ul.wp-block-latest-posts li .post-date {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-family: var(--st-primary-font);
    color: rgba(var(--st-black-color-rgb), 0.6);
    font-size: 0.875em;
    letter-spacing: 1.3px;
    line-height: 1.31;
    text-transform: uppercase;
}

ul.wp-block-latest-posts li .wp-block-latest-posts__post-author, 
ul.wp-block-latest-posts li .wp-block-latest-posts__post-date {
    margin-top: 8px;
    display: inline-block;
}

ul.wp-block-latest-posts li .wp-block-latest-posts__post-author + .wp-block-latest-posts__post-date {
    padding-left: 10px;
}

.wp-block-latest-posts__post-excerpt {
    margin-top: 1em;
    margin-bottom: 0;
}

/*=============================
WIDGET SEARCH
=============================*/
.wp-block-search {
    margin-bottom: 60px;
}

.wp-block-search .wp-block-search__inside-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(var(--st-black-color-rgb), 0.1);
}
 
.wp-block-search input.wp-block-search__input {
    flex: 4;
    border: none;
    padding: 0;
    height: 50px;
    font-size: 0.9em;
}
 
.wp-block-search .wp-block-search__button {
    flex: 1;
    margin-left: 0;
    border: none;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.3;
}

.wp-block-search .wp-block-search__button.rich-text {
    flex: 3;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
    padding: 0 0 0 15px;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {
    padding: 0;
    background-position: center;
}

/*=============================
WIDGET SOCIAL LIST
==============================*/
.wp-block-social-links {
    margin-bottom: 60px;
}

.site-main .wp-block-social-links:not(.is-style-logos-only) .wp-social-link {
    margin-bottom: 5px;
    padding-left: 0;
}

.site-main .wp-block-social-links:not(.is-style-logos-only) .wp-social-link::before {
    display: none;
}

/*============================
WIDGET CALENDAR
============================*/
.wp-block-calendar {
   position: relative;
   margin-bottom: 60px;
}

.wp-block-calendar .wp-calendar-table {
   margin: 0;
}

.wp-block-calendar .wp-calendar-table caption {
   font-size: 0.7em;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-weight: 600;
   color: var(--st-white-color);
   background: var(--st-heading-color);
   padding: 10px 2.5em;
}

.wp-block-calendar .wp-calendar-table tr {
   border-bottom: 1px solid rgba(var(--st-black-color-rgb), 0.06);
}

.wp-block-calendar .wp-calendar-table th, 
.wp-block-calendar .wp-calendar-table td {
   background: none;
   text-align: center;
   font-size: 0.9em;
   padding: 12px 0;
   border-bottom: none;
   color: var(--st-body-color);
   border: none;
}

.wp-block-calendar .wp-calendar-table th {
   color: var(--st-heading-color);
   font-weight: 700;
}

.wp-block-calendar .wp-calendar-table td#today {
   background: rgba(var(--st-black-color-rgb), 0.05);
}

.wp-block-calendar .wp-calendar-table tbody td a {
   font-weight: 700;
   color: var(--st-black-color);
   text-decoration: none;
}

.wp-block-calendar .wp-calendar-nav {
   height: 0;
}

.wp-block-calendar .pad {
   display: none;
}

.wp-block-calendar .wp-calendar-nav-prev a, 
.wp-block-calendar .wp-calendar-nav-next a {
   position: absolute;
   top: 0.6em;
   left: 0.4em;
   width: 1em;
   height: 1em;
   white-space: nowrap;
   border: 1px solid rgba(var(--st-white-color-rgb), 0.3);
   border-radius: 100%;
   font-size: 0;
   background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23fff" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z"></path></svg>');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 0.25em;
   cursor: pointer;
   font-size: 1em;
   overflow: hidden;
   text-indent: 2em;
}

.wp-block-calendar .wp-calendar-nav-next a {
   left: auto;
   right: 0.4em;
   background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23fff" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path></svg>');
}

.wp-block-calendar .wp-calendar-nav-prev a:hover, 
.wp-block-calendar .wp-calendar-nav-next a:hover {
   border-color: rgba(var(--st-white-color-rgb), 0.5);
}

/*=========================
WIDGET TAG CLOUD
=========================*/
.wp-block-tag-cloud {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px 60px;
 }
 
.wp-block-tag-cloud a {
    display: inline-block;
    font-size: 0.8em !important;
    color: var(--st-heading-color);
    background: rgba(var(--st-black-color-rgb), 0.07);
    line-height: 1.3;
    padding: 10px 20px;
    margin: 3px;
    text-decoration: none;
}

.wp-block-tag-cloud a:hover {
    background: rgba(var(--st-black-color-rgb), 0.15);
}

/*============================
WIDGET table
============================*/
.wp-block-table table tr{
    text-align: left;
}
.wp-block-table thead th,
.wp-block-table td,
.wp-block-table  th {
    font-size: 1em;
    font-weight: 700;
    color: var(--st-heading-color);
    padding: 12px 15px;
    background: none;
    line-height: 1.5;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid rgba(var(--st-black-color-rgb), 0.1);
}

.wp-block-table td {
    font-weight: 400;
}

.wp-block-table thead {
    border-bottom: none;
}

