/* Gutenberg CSS */
.todo-has-blocks.full-width .wp-block-cover-image .wp-block-cover__inner-container,
.todo-has-blocks.full-width .wp-block-cover .wp-block-cover__inner-container, 
.todo-has-blocks.fullwidth-centered .wp-block-cover-image .wp-block-cover__inner-container, 
.todo-has-blocks.fullwidth-centered .wp-block-cover .wp-block-cover__inner-container {
    max-width: 1170px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.todo-has-blocks.fullwidth-centered .wp-block-cover-image .wp-block-cover__inner-container, 
.todo-has-blocks.fullwidth-centered .wp-block-cover .wp-block-cover__inner-container {
    max-width: 670px;
}

.todo-has-blocks .alignwide, 
.todo-has-blocks .alignfull {
    position: relative;
}

.wp-has-aspect-ratio .wp-block-embed__wrapper {
    position: relative;
    height: 0;
    overflow: hidden;
}

.wp-has-aspect-ratio.wp-embed-aspect-16-9 .wp-block-embed__wrapper {
    padding-top: 56.25%;
}

.wp-has-aspect-ratio.wp-embed-aspect-4-3 .wp-block-embed__wrapper {
    padding-top: 75%;
}

.wp-has-aspect-ratio.wp-embed-aspect-3-2 .wp-block-embed__wrapper {
    padding-top: 66.67%;
}

.wp-has-aspect-ratio.wp-embed-aspect-21-9 .wp-block-embed__wrapper {
    padding-top: 42.86%;
}

.wp-has-aspect-ratio .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

hr.wp-block-separator {
    background: none;
    box-shadow: none;
}

.todo-has-blocks .entry-content > p {
    margin-top: 0;
    margin-bottom: 3em;
}

.todo-has-blocks .entry-content .alignfull {
    position: relative;
}


pre {
    background: rgba(var(--st-black-color-rgb), 0.05);
}

.wp-block-embed {
    margin: 0;
}

.wp-block-quote cite, 
.wp-block-quote footer {
    font-size: 0.65em;
    color: rgba(var(--st-black-color-rgb), 0.5);
}

.wp-block-pullquote {
    margin: 50px 0;
    padding: 45px 60px;
    color: var(--st-heading-color);
    position: relative;
    z-index: 1;
}

.wp-block-pullquote blockquote {
    margin: 0;
    border: none;
    padding: 0;
}

.wp-block-pullquote blockquote::before, 
.wp-block-pullquote blockquote::after {
    display: none;
}

.wp-block-pullquote blockquote p {
    font-size: 1.111em;
    line-height: normal;
}

.wp-block-pullquote blockquote > p:first-child::before {
    display: none;
}

.wp-block-pullquote cite, 
.wp-block-pullquote footer, 
.wp-block-pullquote__citation {
    font-size: 0.8em;
    color: rgba(var(--st-black-color-rgb), 0.5);
    text-transform: none;
}

.entry-content a.wp-block-button__link, 
.entry-summary a.wp-block-button__link, 
.page-content a.wp-block-button__link {
    text-decoration: none;
}

blockquote.wp-block-quote {
    padding-left: 0;
    padding-right: 0;
}

.wp-block-quote {
    border-left: 10px solid var(--st-primary-color-rgb);
    margin: 1em 0 2em;
    padding-left: 50px;
}

.wp-block-quote.is-style-large, 
.wp-block-quote.is-large {
    margin-bottom: 2em;
    padding: 7% 5%;
}

.wp-block-quote.is-large p, 
.wp-block-quote.is-style-large p {
    line-height: normal;
}

.wp-block-quote.is-large cite, 
.wp-block-quote.is-large footer, 
.wp-block-quote.is-style-large cite, 
.wp-block-quote.is-style-large footer {
    font-size: 0.85em;
}

.wp-block-group .wp-block-quote {
    padding: 0 1em;
}

.wp-block-group .wp-block-quote::before {
    display: none;
}

.wp-block-group .wp-block-quote.has-text-align-center cite {
    text-align: center;
}

.wp-block-group .wp-block-quote.has-text-align-left cite {
    text-align: left;
}

.todo-has-blocks .wp-block-image figcaption, 
.todo-has-blocks .wp-block-gallery .blocks-gallery-caption, 
.todo-has-blocks .wp-block-embed figcaption {
    margin: 0.8075em 0 0 0;
    font-size: 0.8888em;
    color: rgba(var(--st-black-color-rgb), 0.5);
    letter-spacing: 0.1px;
    line-height: 1.5;
    text-align: center;
}

.wp-block-cover, 
.wp-block-cover-image {
    margin-bottom: 4em;
}

.wp-block-table table {
    margin: 0;
}

.todo-has-blocks .wp-block-table figcaption {
    margin: 0.8075em 0 0 0;
    font-size: 0.8888em !important;
    color: rgba(var(--st-black-color-rgb), 0.5);
    letter-spacing: 0.1px;
    line-height: 1.5;
    text-align: center;
}

.todo-has-blocks .wp-block-gallery .blocks-gallery-caption {
    width: 100%;
    margin-top: 0;
    margin-bottom: 1.5em;
}

.single .site-main .entry-content .wp-block-gallery .blocks-gallery-item, 
.page .site-main .entry-content .wp-block-gallery .blocks-gallery-item {
    background: none;
    padding-left: 0;
}

.site-main .entry-content ul.blocks-gallery-grid > li::before {
    display: none;
}

.wp-block-file {
    background: rgba(var(--st-primary-color-rgb), 0.1);
    padding: 2% 4%;
    margin-bottom: 0.7em;
}

.wp-block-file.aligncenter {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-file.alignfull {
    text-align: center;
}

.wp-block-file a {
    display: inline-block;
    color: var(--st-black-color);
}

.wp-block-file .wp-block-file__button {
    background: var(--st-primary-color);
    padding: 0.7em 1.5em;
    font-size: 0.9em;
    line-height: 1.3;
}

.wp-block-table.is-style-stripes {
    border-bottom: none;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
    background: rgba(var(--st-primary-color-rgb), 0.35);
}

.wp-block-media-text {
    margin-bottom: 4em;
}

.wp-block-media-text p {
    margin-top: 0;
    margin-bottom: 0;
}

/*============================
WIDGET DEFAULT CSS
============================*/
.wp-block-archives, 
.wp-block-categories, 
.wp-block-latest-comments, 
.wp-block-rss, 
.site-main .entry-content ul.wp-blocks-archives, 
.site-main .entry-content ul.wp-block-categories, 
.site-main .entry-content ul.wp-block-latest-comments, 
.site-main .entry-content ul.wp-block-rss, 
.wp-block-page-list {
    margin: 0 0 60px 0;
    padding: 0;
    list-style: none;
}

.wp-block-categories li, 
.wp-block-archives li, 
.wp-block-latest-comments li, 
.wp-block-rss li, 
.site-main .entry-content ul.wp-blocks-archives > li, 
.site-main .entry-content ul.wp-block-categories > li, 
.site-main .entry-content ul.wp-block-latest-comments > li, 
.site-main .entry-content ul.wp-block-rss > li, 
.wp-block-page-list > li {
    display: block;
    font-size: 0.8em;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(var(--st-black-color-rgb), 0.8);
    margin-bottom: 15px;
}

.wp-block-latest-comments li, 
.site-main .entry-content ul.wp-block-latest-comments > li {
    padding-left: 0;
}

.wp-block-categories li:last-child, 
.wp-block-archives li:last-child,
.wp-block-latest-comments li:last-child, 
.wp-block-rss li:last-child, 
.site-main .entry-content ul.wp-blocks-archives > li:last-child, 
.site-main .entry-content ul.wp-block-categories > li:last-child, 
.site-main .entry-content ul.wp-block-latest-comments > li:last-child, 
.site-main .entry-content ul.wp-block-rss > li:last-child, 
.wp-block-page-list > li:last-child {
	margin-bottom: 0;
}

.widget_nav_menu ul ul {
	margin-top: 15px;
}

.wp-block-categories li a, 
.wp-block-archives li a, 
.wp-block-latest-comments li a, 
.wp-block-rss li a, 
.site-main .entry-content ul.wp-blocks-archives > li a, 
.site-main .entry-content ul.wp-block-categories > li a, 
.site-main .entry-content ul.wp-block-latest-comments > li a, 
.site-main .entry-content ul.wp-block-rss > li a, 
.wp-block-page-list > li a {
    display: inline-block;
    color: var(--st-body-color);
    text-decoration: none;
}

.wp-block-categories li a:hover, 
.wp-block-archives li a:hover, 
.wp-block-latest-comments li a:hover, 
.wp-block-rss li a:hover, 
.site-main .entry-content ul.wp-blocks-archives > li a:hover, 
.site-main .entry-content ul.wp-block-categories > li a:hover, 
.site-main .entry-content ul.wp-block-latest-comments > li a:hover, 
.site-main .entry-content ul.wp-block-rss > li a:hover, 
.wp-block-page-list > li a:hover {
    text-decoration: underline;
    color: var(--st-black-color);
}

.block-editor .wp-block-latest-comments p {
    margin-bottom: 0;
}

.site-main .entry-content ol.wp-block-latest-comments {
    counter-reset: none;
}

.site-main .entry-content ol.wp-block-latest-comments > li {
    counter-increment: none;
    padding-left: 0;
}

.site-main .entry-content ol.wp-block-latest-comments > li::before {
    display: none;
}

/*================================
WIDGET LATEST COMMENTS
================================*/
.wp-block-latest-comments .avatar, 
.wp-block-latest-comments__comment-avatar {
    width: 2em;
    height: 2em;
}

.wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
    font-weight: 700;
    line-height: 1.3;
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
    margin-left: 2.5em;
}

.wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
}

.wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
    font-size: 1em;
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
    margin-left: 0;
}

.wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt p {
    font-size: 1em;
}

/*=================================
WIDGET LATEST POSTS
==================================*/
.widget ul.wp-block-latest-posts {
    margin: 0 0 60px 0;
    padding: 0;
    list-style: none;
    counter-reset: post-count;
}

.widget ul.wp-block-latest-posts li {
    font-family: var(--st-primary-font);
    counter-increment: post-count;
    position: relative;
    padding-left: 0;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

.widget ul.wp-block-latest-posts li:last-child {
    margin-bottom: 0;
}

.widget ul.wp-block-latest-posts li::before {
    display: none;
}

.wp-block-latest-posts__featured-image.alignleft, 
.wp-block-latest-posts__featured-image.alignright {
    margin: 0;
    width: 72px;
    position: absolute;
    top: 0;
    left: 0;
}

.wp-block-latest-posts__featured-image.alignright {
    left: auto;
    right: 0;
}

.wp-block-latest-posts__featured-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wp-block-latest-posts__featured-image.aligncenter {
    position: relative;
    padding-top: 60%;
    height: 0;
}

.wp-block-latest-posts__featured-image.aligncenter img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.widget ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignleft + a {
    padding-left: 85px;
}

.widget ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignleft + a + div, 
.widget ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignleft + a + time {
    padding-left: 85px;
}

.widget ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignright + a {
    padding-right: 85px;
}

.widget ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignright + a + div + time, 
.widget ul.wp-block-latest-posts .wp-block-latest-posts__featured-image.alignright + a + time {
    padding-right: 85px;
}

.widget ul.wp-block-latest-posts li a {
    display: inline-block;
    font-size: 1em;
    line-height: 1.5;
    color: var(--st-heading-color);
    /* text-decoration: none; */
}

.widget ul.wp-block-latest-posts li > a {
    font-family: var(--st-secondary-font);
    width: 100%;
    font-weight: 700;
}

.widget ul.wp-block-latest-posts li a:hover {
    color: var(--st-black-color);
}

.widget ul.wp-block-latest-posts li .post-date {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-family: var(--st-primary-font);
    color: rgba(var(--st-black-color-rgb), 0.6);
    font-size: 0.875em;
    letter-spacing: 1.3px;
    line-height: 1.31;
    text-transform: uppercase;
}

.widget ul.wp-block-latest-posts li .wp-block-latest-posts__post-author, 
.widget ul.wp-block-latest-posts li .wp-block-latest-posts__post-date {
    margin-top: 8px;
    display: inline-block;
    opacity: 0.75;
}

ul.wp-block-latest-posts li .wp-block-latest-posts__post-author + .wp-block-latest-posts__post-date {
    padding-left: 10px;
}

.wp-block-latest-posts__post-excerpt {
    margin-top: 1em;
    margin-bottom: 0;
}

/*=============================
WIDGET SEARCH
=============================*/
.wp-block-search {
    margin-bottom: 60px;
}

.wp-block-search .wp-block-search__inside-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(var(--st-black-color-rgb), 0.1);
}

.wp-block-search .wp-block-search__inside-wrapper {
    border-bottom-color: rgba(var(--st-footer-txt-color-rgb), 0.15);
}
 
.wp-block-search input[type="search"] {
    width: calc(100% - 50px);
    border: none;
    padding: 0;
}

.site-footer .wp-block-search input[type="search"] {
    color: var(--st-footer-txt-color);
}
 
.wp-block-search .wp-block-search__button {
    width: 50px;
    padding: 0;
    font-size: 0;
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center right;
    background-color: transparent;
    border: none;
    opacity: 0.5;
}

.site-footer .wp-block-search .wp-block-search__button {
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23fff" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path></svg>');
}
 
.wp-block-search .wp-block-search__button:hover {
    opacity: 1;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
    padding: 0 0 0 15px;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {
    padding: 0;
    background-position: center;
}

/*=============================
WIDGET SOCIAL LIST
==============================*/
.wp-block-social-links {
    margin-bottom: 60px;
}

.site-main .wp-block-social-links:not(.is-style-logos-only) .wp-social-link {
    margin-bottom: 5px;
    padding-left: 0;
}

.site-main .wp-block-social-links:not(.is-style-logos-only) .wp-social-link::before {
    display: none;
}

/*============================
WIDGET CALENDAR
============================*/
.wp-block-calendar {
   position: relative;
   margin-bottom: 60px;
}

.wp-block-calendar .wp-calendar-table {
   margin: 0;
}

.wp-block-calendar .wp-calendar-table caption {
   font-size: 0.7em;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-weight: 600;
   color: var(--st-white-color);
   background: var(--st-heading-color);
   padding: 10px 2.5em;
}

.wp-block-calendar .wp-calendar-table tr {
   border-bottom: 1px solid rgba(var(--st-black-color-rgb), 0.06);
}

.wp-block-calendar .wp-calendar-table th, 
.wp-block-calendar .wp-calendar-table td {
   background: none;
   text-align: center;
   padding: 12px 0;
   border-bottom: none;
   color: var(--st-body-color);
   border: none;
}

.wp-block-calendar .wp-calendar-table th {
   color: var(--st-heading-color);
   font-weight: 700;
}

.wp-block-calendar .wp-calendar-table td#today {
   background: rgba(var(--st-black-color-rgb), 0.05);
}

.wp-block-calendar .wp-calendar-table tbody td a {
   font-weight: 700;
   color: var(--st-black-color);
   text-decoration: none;
}

.wp-block-calendar .wp-calendar-nav {
   height: 0;
}

.wp-block-calendar .pad {
   display: none;
}

.wp-block-calendar .wp-calendar-nav-prev a, 
.wp-block-calendar .wp-calendar-nav-next a {
   position: absolute;
   top: 0.6em;
   left: 0.4em;
   width: 1em;
   height: 1em;
   white-space: nowrap;
   border: 1px solid rgba(var(--st-white-color-rgb), 0.3);
   border-radius: 100%;
   font-size: 0;
   background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23fff" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z"></path></svg>');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 0.25em;
   cursor: pointer;
   font-size: 1em;
   overflow: hidden;
   text-indent: 2em;
}

.wp-block-calendar .wp-calendar-nav-next a {
   left: auto;
   right: 0.4em;
   background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23fff" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path></svg>');
}

.wp-block-calendar .wp-calendar-nav-prev a:hover, 
.wp-block-calendar .wp-calendar-nav-next a:hover {
   border-color: rgba(var(--st-white-color-rgb), 0.5);
}

/*=========================
WIDGET TAG CLOUD
=========================*/
.wp-block-tag-cloud {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px 60px;
 }
 
.wp-block-tag-cloud a {
    display: inline-block;
    font-size: 0.8em !important;
    color: var(--st-heading-color);
    background: rgba(var(--st-black-color-rgb), 0.07);
    line-height: 1.3;
    padding: 10px 20px;
    margin: 3px;
    text-decoration: none;
}

.site-footer .wp-block-tag-cloud a {
    background: rgba(var(--st-footer-txt-color-rgb), 0.07);
    text-decoration: none;
}

.site-footer .wp-block-tag-cloud a:hover {
    background: rgba(var(--st-footer-txt-color-rgb), 0.15);
}

.entry-content .wp-block-tag-cloud a {
    text-decoration: none;
}

.wp-block-tag-cloud a:hover {
    background: rgba(var(--st-black-color-rgb), 0.15);
}

.site-footer .widget, 
.site-footer .wp-block-categories li, 
.site-footer .wp-block-archives li, 
.site-footer .wp-block-latest-comments li, 
.site-footer .wp-block-rss li, 
.site-footer .wp-block-page-list > li, 
.site-footer .wp-block-categories li a, 
.site-footer .wp-block-archives li a, 
.site-footer .wp-block-latest-comments li a, 
.site-footer .wp-block-rss li a, 
.site-footer .wp-block-page-list > li a {
    color: rgba(var(--st-footer-txt-color-rgb), 0.8);
}

.site-footer .wp-block-categories li a:hover, 
.site-footer .wp-block-archives li a:hover, 
.site-footer .wp-block-latest-comments li a:hover, 
.site-footer .wp-block-rss li a:hover, 
.site-footer .wp-block-page-list > li a:hover {
    color: var(--st-footer-txt-color);
}

/* .wp-block-navigation__container>.wp-block-navigation-link, 
.wp-block-page-list, 
.wp-block-page-list>.wp-block-pages-list__item {
    margin: 0 0 15px 0;
} */

/*================================
GUTENBARG DARKMODE
================================*/
.darkmode .wp-block-categories li a, 
.darkmode .wp-block-archives li a, 
.darkmode .wp-block-latest-comments li a, 
.darkmode .wp-block-rss li a, 
.darkmode .site-main .entry-content ul.wp-blocks-archives > li a, 
.darkmode .site-main .entry-content ul.wp-block-categories > li a, 
.darkmode .site-main .entry-content ul.wp-block-latest-comments > li a, 
.darkmode .site-main .entry-content ul.wp-block-rss > li a, 
.darkmode .wp-block-page-list > li a {
    color: rgba(var(--st-black-color-rgb), 0.7);
}

.darkmode .wp-block-categories li a:hover, 
.darkmode .wp-block-archives li a:hover, 
.darkmode .wp-block-latest-comments li a:hover, 
.darkmode .wp-block-rss li a:hover, 
.darkmode .site-main .entry-content ul.wp-blocks-archives > li a:hover, 
.darkmode .site-main .entry-content ul.wp-block-categories > li a:hover, 
.darkmode .site-main .entry-content ul.wp-block-latest-comments > li a:hover, 
.darkmode .site-main .entry-content ul.wp-block-rss > li a:hover, 
.darkmode .wp-block-page-list > li a:hover {
    color: var(--st-black-color);
}

.darkmode .wp-block-calendar .wp-calendar-table caption {
    background: rgba(var(--st-black-color-rgb), 0.1);
    color: var(--st-heading-color);
}

.darkmode .wp-block-calendar .wp-calendar-nav-prev a, 
.darkmode .wp-block-calendar .wp-calendar-nav-next a {
    border-color: rgba(var(--st-black-color-rgb), 0.3);
}

.darkmode .wp-block-calendar .wp-calendar-table td {
    color: rgba(var(--st-black-color-rgb), 0.7);
}

.darkmode .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
    border-color: rgba(var(--st-black-color-rgb), 0.1);
}

.darkmode .wp-block-search .wp-block-search__button, 
.darkmode .wp-block-search .wp-block-search__button:hover {
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23fff" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-color: transparent;
}


@media screen and (max-width: 1199px) {
    .todo-has-blocks.full-width .wp-block-cover-image .wp-block-cover__inner-container, 
    .todo-has-blocks.full-width .wp-block-cover .wp-block-cover__inner-container, 
    .todo-has-blocks.fullwidth-centered .wp-block-cover-image .wp-block-cover__inner-container, 
    .todo-has-blocks.fullwidth-centered .wp-block-cover .wp-block-cover__inner-container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .todo-has-blocks.full-width .wp-block-cover-image .wp-block-cover__inner-container, 
    .todo-has-blocks.full-width .wp-block-cover .wp-block-cover__inner-container, 
    .todo-has-blocks.fullwidth-centered .wp-block-cover-image .wp-block-cover__inner-container, 
    .todo-has-blocks.fullwidth-centered .wp-block-cover .wp-block-cover__inner-container {
        max-width: 768px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    .todo-has-blocks.full-width .wp-block-cover-image .wp-block-cover__inner-container, 
    .todo-has-blocks.full-width .wp-block-cover .wp-block-cover__inner-container, 
    .todo-has-blocks.fullwidth-centered .wp-block-cover-image .wp-block-cover__inner-container, 
    .todo-has-blocks.fullwidth-centered .wp-block-cover .wp-block-cover__inner-container {
        max-width: 420px;
    }
}